[submodule "dps/opts"]
	path = dps/opts
	url = git@github.com:norayr/opts
[submodule "dps/time"]
	path = dps/time
	url = git@github.com:norayr/time
[submodule "lists"]
	path = lists
	url = git@github.com:norayr/lists
[submodule "dps/lists"]
	path = dps/lists
	url = git@github.com:norayr/lists
[submodule "dps/Internet"]
	path = dps/Internet
	url = git@github.com:norayr/Internet
